@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet container physical height fallback */
.leaflet-container {
  width: 100%;
  height: 100%;
}

/* Animated Dash Effect for Geodesic Survey Lines */
@keyframes dash {
  to {
    stroke-dashoffset: -20;
  }
}

.animate-dash {
  animation: dash 1s linear infinite;
}